<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LeagueSites</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    League sites, everything you need for your competitive website and discord bot needs!
  </body>
</html>
